# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Git_Otus_HomeWork_4.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Otus\Git_Otus_HomeWork_4\Git_Otus_HomeWork_4\.idea\.idea.Git_Otus_HomeWork_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
